

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.d-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-6 textarea{
    margin-top: 20px;
    height: 50px;
    width: 300px;
}

.col-6 p{
    height: 20px;
    background-color:   #f2f2f2;
    padding:  20px 50px;
}